:root {
    --yellow: #F4D04E;
    --Gray-950: #111111;
    --Gray-500: #6B6B6B;
    --White: #FFFFFF;
    --main-font: "Figtree", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.text-preset-1 {
    font-family: var(--main-font);
    color: var(--Gray-950);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: bold;
}

.text-preset-1:hover {
    color: var(--yellow);
    cursor: pointer;
}

.text-preset-2 {
    font-family: var(--main-font);
    color: var(--Gray-500);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: normal;
}

.text-preset-3 {
    font-family: var(--main-font);
    color: var(--Gray-950);
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: normal;
}

.text-preset-3-bold {
    font-family: var(--main-font);
    color: var(--Gray-950);
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: bolder;
}

body {
    background-color: var(--yellow);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 522px;
    width: 384px;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--White);
    border: var(--Gray-950) solid 1px;
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__illustration {
    height: 200px;
}

.card__illustration img {
    border-radius: 10px;
    width: 100%;
}

.card__content {
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.card__content-tag {
    background-color: var(--yellow);
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    width: 82px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__author {
    width: 129px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card__author img {
    height: 100%;
}

footer {
    margin-top: 16px;
}

@media (max-width: 470px) {
    .card {
        height: 501px;
        width: 327px;
    }
    
    .card__illustration img {
        height: 200px;
        object-fit: cover;
    }
}